<ion-loading #loading spinner="crescent" class="custom-loading"></ion-loading>

<ion-row class="wrapper" *ngIf="exists">
  <ion-col size="2">
    <ion-buttons>
      <ion-button (click)="openModalProfile()">
        <ion-avatar class="custom-avatar">
          <ion-img 
            [src]="'https://firebasestorage.googleapis.com/v0/b/mobile-apps-d0b43.appspot.com/o/twitter-posts%2Fprofile.jpg?alt=media&token=336149f6-3a78-4d60-a2f6-7b26d8a12a55'"
          >
          </ion-img>
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-col>
  <ion-col size="10" class="padding-col">
    <ion-row class="tweet-info">
      <ion-col size="12">
        <span class="name">{{ tweet.first_name }} {{ tweet.last_name }}</span>
        <span class="handle"> @{{ tweet.alias }}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="custom-text" [innerHtml]="tweet.post_content"></div>
        <img
          class="preview-img"
          [src]="tweet.image_url"
          *ngIf="tweet.image_url"
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <span class="handle">{{ formatDate(tweet.creation_date) }}</span>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
      <!--Editar-->
      <ion-col size="3" class="handle-col" *ngIf="isComment">
        <ion-button
          fill="clear" 
          color="medium" 
          size="small"
          (click)="openModalEditReply(true)"
        >
          <ion-icon name="create-outline" slot="start"></ion-icon>
        </ion-button>
      </ion-col>
      <!--Comentar-->
      <ion-col *ngIf="!isComment">
        <ion-button
          (click)="setOpen(true)"
          fill="clear" 
          color="medium" 
          size="small"
        >
          <ion-icon name="chatbubble-outline" slot="start"></ion-icon>{{ tweet.post_comments }}
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button
          (click)="handleLike(tweet)"
          fill="clear"
          [color]="tweet.liked ? 'danger' : 'medium'"
          size="small"
        >
          <ion-icon
            [name]="tweet.liked ? 'heart' : 'heart-outline'"
            slot="start"
          ></ion-icon>
          {{ tweet.post_likes }}
        </ion-button>
      </ion-col>

      <ion-col *ngIf="canBeDeleted">
        <ion-button
          fill="clear"
          color="medium"
          size="small"
          (click)="deleteTweet(tweet)"
        >
          <ion-icon name="trash-outline" slot="start"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-col>
</ion-row>

<ion-content>

  <ion-modal [isOpen]="isModalOpen" *ngIf="!isComment">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-icon
              name="arrow-back-outline"
              (click)="setOpen(false)"
              class="handle-back-button"
              size="small"
            ></ion-icon>
          </ion-buttons>
          <ion-title>Post</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="ion-padding">
          <!-- TWEET VIEW -->
          <ion-row class="wrapper">
            <ion-col size="2">
              <ion-avatar class="custom-avatar">
                <ion-img 
                  [src]="'https://firebasestorage.googleapis.com/v0/b/mobile-apps-d0b43.appspot.com/o/twitter-posts%2Fprofile.jpg?alt=media&token=336149f6-3a78-4d60-a2f6-7b26d8a12a55'"
                >
                </ion-img>
              </ion-avatar>
            </ion-col>
  
            <ion-col size="10">
              <ion-row class="tweet-info">
                <ion-col size="12">
                  <ion-row>
                    <span class="name">{{ tweet.first_name }} {{ tweet.last_name }}</span>
                  </ion-row>
                  <ion-row>
                    <span class="handle">@{{ tweet.alias }}</span>
                  </ion-row>
                </ion-col>
              </ion-row>
  
              <ion-row>
                <ion-col size="12">
                  <div class="custom-text" [innerHtml]="tweet.post_content"></div>
                  <img
                    class="preview-img"
                    [src]="tweet.image_url"
                    *ngIf="tweet.image_url"
                  />
                </ion-col>
              </ion-row>
  
              <ion-row>
                <ion-col size="12">
                  <span class="handle">{{ formatDate(tweet.creation_date) }}</span>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
  
          <ion-row class="ion-justify-content-start wrapper">
            <ion-col size="2"></ion-col>
            <ion-col size="3" class="handle-col">
              <ion-button
                (click)="handleLike(tweet)"
                fill="clear"
                [color]="tweet.liked ? 'danger' : 'medium'"
                size="small"
              >
                <ion-icon
                  [name]="tweet.liked ? 'heart' : 'heart-outline'"
                  slot="start"
                ></ion-icon>
                {{ tweet.post_likes }}
              </ion-button>
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>
          <!-- REPLY SECTION -->
          <div class="form">
            <ion-card class="handle-card">
              <ion-card-content>
                <form [formGroup]="replyForm">
                  <ion-item>
                    <ion-textarea
                      ngDefaultControl
                      formControlName="tweet-reply"
                      placeholder="Post your reply"
                      [counter]="true"
                      maxlength="180"
                    ></ion-textarea>
                      <ion-button
                        class="btn-width" 
                        shape="round"
                        [strong]="true"
                        [disabled]="!replyForm.get('tweet-reply')?.value"
                        (click)="postReply()"
                      >
                        Reply
                      </ion-button>
                  </ion-item>
                </form>
              </ion-card-content>
            </ion-card>
          </div>
        </div>

        <!--Comentarios--> 
        <div>
          <app-tweet *ngFor="let comment of comments" [tweet]="comment" [isComment]="true"></app-tweet>
        </div>
      </ion-content>
  </ion-modal>

  <!--
  <app-user-profile [isProfileOpen]="isModalProfileOpen" [userId]="tweet.user_id"></app-user-profile>
  -->

</ion-content>