<ion-row class="wrapper">
  <ion-col size="2">
    <ion-avatar class="custom-avatar">
      <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/mobile-apps-d0b43.appspot.com/o/twitter-posts%2Fprofile.jpg?alt=media&token=336149f6-3a78-4d60-a2f6-7b26d8a12a55'"></ion-img>
    </ion-avatar>
  </ion-col>
  <ion-col size="10">
    <ion-row class="tweet-info">
      <ion-col size="12">
        <span class="name">{{ tweet.first_name }} {{ tweet.last_name }}</span>
        <span class="handle">@{{ tweet.alias }}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="custom-text" [innerHtml]="tweet.post_content"></div>
        <img
          class="preview-img"
          [src]="tweet.image_url"
          *ngIf="tweet.image_url"
        />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-start">
      <ion-col>
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
          {{ tweet.post_comments }}
        </ion-button>
      </ion-col>
      <!--
      <ion-col>
        <ion-button
          (click)="tweet.retweet = !tweet.retweet"
          fill="clear"
          [color]="tweet.retweet ? 'success' : 'medium'"
          size="small"
        >
          <ion-icon name="repeat-outline" slot="start"></ion-icon>
          {{ tweet.retweets }}
        </ion-button>
      </ion-col>
      -->
      <ion-col>
        <ion-button
          (click)="handleLike(tweet)"
          fill="clear"
          [color]="tweet.liked ? 'danger' : 'medium'"
          size="small"
        >
          <ion-icon
            [name]="tweet.liked ? 'heart' : 'heart-outline'"
            slot="start"
          ></ion-icon>
          {{ tweet.post_likes }}
        </ion-button>
      </ion-col>
      <!--
      <ion-col>
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon name="share-outline" slot="start"></ion-icon>
        </ion-button>
      </ion-col>
      -->
    </ion-row>
  </ion-col>
</ion-row>
