.tweet-info {
     font-size: 0.9em;
}

.name {
     font-weight: 600;
}

.handle {
     padding-left: 4px;
     color: var(--ion-color-medium);
}

.handle-back-button {
     margin-left: 15px;
}

.wrapper {
     border-bottom: 1px solid var(--ion-color-light);
}

.highlight {
     color: var(--ion-color-primary);
}

.preview-img {
     border: 1px solid var(--ion-color-light);
     border-radius: 10px;
}

.custom-avatar {
     width: 55px;
     height: 55px;
}

.custom-text {
     margin-bottom: 5px;
     /* Ajusta el valor según el espacio deseado entre líneas */
     line-height: 1.6;
     /* Ajusta el valor según el espacio deseado entre líneas */
}

.icons-container {
     display: flex;
     flex-direction: column;
     font-size: 28px;
     padding-right: 15px;
}

.iconCamera {
     margin-bottom: 5px;
}

.form {
     margin-top: 20px;
}

.handle-col {
     margin-top: 6px;
     padding-top: 0px;
     padding-bottom: 0px;
}