<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar show-clear-button="focus" shape="round"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="segment">
  <ion-segment-button value="users">
    <ion-label>Users</ion-label>
  </ion-segment-button>
  <ion-segment-button value="tweets">
    <ion-label>Tweets</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content class="ion-padding">
  <div [hidden]="segment != 'users'">
    <ion-label>Users</ion-label>
  </div>

  <div [hidden]="segment != 'tweets'">
    <ion-label>Tweets</ion-label>
  </div>
</ion-content>
