<ion-loading #loading spinner="crescent" class="custom-loading"></ion-loading>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar
      [debounce]="1000" 
      (ionInput)="handleInput($event)"
      (ionClear)="clearResults()" 
      show-clear-button="focus" 
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="segment">
  <ion-segment-button value="users">
    <ion-label>Users</ion-label>
  </ion-segment-button>
  <ion-segment-button value="tweets">
    <ion-label>Tweets</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content class="ion-padding">
  <div [hidden]="segment != 'users'">
    <div *ngIf="noUsers" class="no-results-div">
      <ion-icon name="skull" color="danger" size="large"></ion-icon>
      <ion-label class="handle-label">No results</ion-label>
    </div>

    <div [hidden]="users.length === 0">
      <ion-list>
        <app-users *ngFor="let result of users" [user]="result"></app-users>
      </ion-list>
    </div>
  </div>

  <div [hidden]="segment != 'tweets'">
    <ion-row>

      <ion-col size="4">
        <ion-button 
          shape="round" 
          fill="outline" 
          color="success" 
          class="btn-width"
          (click)="mostRecents()"
        >
          New
        </ion-button>
      </ion-col>

      <ion-col size="4">
        <ion-button 
          shape="round" 
          fill="outline" 
          color="medium" 
          class="btn-width"
          (click)="lessRecents()"
        >
          Old
        </ion-button>
      </ion-col>

      <ion-col size="4">
        <ion-button 
          shape="round" 
          fill="outline" 
          color="danger" 
          class="btn-width"
          (click)="topLiked()"
        >
          Popular
        </ion-button>
      </ion-col>
    </ion-row>
    <div *ngIf="noTweets" class="no-results-div">
      <ion-icon name="skull" color="danger" size="large"></ion-icon>
      <ion-label class="handle-label">No results</ion-label>
    </div>

    <div [hidden]="tweets.length === 0">
      <ion-list>
        <app-tweet *ngFor="let result of tweets" [tweet]="result"></app-tweet>
        <!--
        <ion-item *ngFor="let result of tweets">
          <ion-label>{{ result.alias }} - {{ result.post_content }}</ion-label>
        </ion-item>
        -->
      </ion-list>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="handleScroll($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
