<ion-row class="wrapper">
  <ion-col size="2">
    <ion-avatar class="custom-avatar">
      <!-- <ion-img [src]="tweet.img"></ion-img> -->
      <ion-icon name="logo-twitter" color="primary"></ion-icon>
    </ion-avatar>
  </ion-col>
  <ion-col size="10">
    <ion-row class="tweet-info">
      <ion-col size="12">
        <div class="flex">
          <span class="name">{{ user.first_name }} {{ user.last_name }}</span>
          <ion-button
            shape="round"
            fill="outline"
            class="follow"
            [color]="isFollowing ? 'danger' : 'dark'"
            (click)="toggleFollow()"
            >{{ isFollowing ? "Unfollow" : "Follow" }}</ion-button
          >
        </div>
        <ion-row>
          <span class="handle">@{{ user.alias }}</span>
        </ion-row>
      </ion-col>

      <ion-col size="12">
        <span class="custom-text"
          >{{ user.biography }}</span
        >
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
