<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>
        &nbsp;
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br />

      <ion-button shape="round" fill="solid">Login</ion-button>
      <br />
      <ion-button shape="round" fill="outline" [routerLink]="['/signup']"
        >Sign Up</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
