.btn-width2 {
    width: 90px;
}

.tweet-info {
    font-size: 0.9em;
}

.handle {
    color: var(--ion-color-medium);
}

.handle-back-button {
    margin-left: 15px;
}

.wrapper {
    border-bottom: 1px solid var(--ion-color-light);
}

.padding-col {
    padding-left: 10px;
}

.custom-avatar {
    width: 55px;
    height: 55px;
}

.custom-text {
    margin-bottom: 5px;
    /* Ajusta el valor según el espacio deseado entre líneas */
    line-height: 1.6;
    /* Ajusta el valor según el espacio deseado entre líneas */
}

.handle-profile {
    margin-top: 4px;
    color: var(--ion-color-medium);
}

.handle-title {
    font-size: 20px;
    font-weight: bold;
}

.padding-numbers {
    padding-right: 4px;
}

.name {
    font-weight: bold;
    font-size: large;
}