<ion-header #header>
  <ion-toolbar>
    <ion-button slot="end" shape="round" fill="outline" color="dark">
      Edit profile
    </ion-button>
    <div class="ion-padding">
      <div class="profile-label">
        <ion-label class="handle-title">Juan Romero</ion-label>
        <ion-label class="handle">@juan_romero5</ion-label>
      </div>
      <ion-text class="profile-label handle"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
        mollitia ratione quos quas doloremque odio qui vero, iusto, magni
        recusandae modi illo aut optio, ea dolorem numquam pariatur nostrum
        aperiam!</ion-text
      >
      <div class="profile-statistics">
        <ion-button id="open-modal" fill="clear" color="dark">
          <ion-label>3</ion-label>
          <ion-label class="handle">Following</ion-label>
        </ion-button>
        <ion-button fill="clear" color="dark">
          <ion-label style="padding-left: 1px">0</ion-label>
          <ion-label class="handle">Followers</ion-label>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="segment">
  <ion-segment-button value="posts">
    <ion-label>Posts</ion-label>
  </ion-segment-button>
  <ion-segment-button value="likes">
    <ion-label>Likes</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-label>a</ion-label>
      </ion-content>
    </ng-template>
  </ion-modal>

  <div [hidden]="segment != 'posts'">
    <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openNewTweet()">
      <ion-fab-content>
        <ion-icon name="add-outline" size="large"> </ion-icon>
      </ion-fab-content>
    </ion-fab-button>
  </ion-fab>

  <!-- Este componente se mostrará unicamente cuando shoNewTweet cambie a true -->
  <app-new-tweet *ngIf="showNewTweet"></app-new-tweet>
</ion-content>
