<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu #menu side="end" contentId="main-content">
  <ion-content class="ion-padding">
    <ion-buttons>
      <ion-button
        id="open-edit-profile"
        shape="round"
        fill="clear"
        color="dark"
        expand="full"
      >
        Edit profile
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button
        (click)="logOut()"
        shape="round"
        fill="clear"
        color="danger"
        expand="full"
      >
        Log Out
        <ion-icon name="log-out-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-content>
</ion-menu>


<ion-content>
<div class="ion-page" id="main-content">
      <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <div class="ion-padding">
      <div class="profile-label">
        <ion-label class="handle-title"
          >{{user.first_name}} {{user.last_name}}</ion-label
        >
        <ion-label class="handle">@{{user.alias}}</ion-label>
      </div>
      <ion-text class="profile-bio handle">{{ user.biography }}</ion-text>
    </div>
    <div>
      <ion-button id="open-modal-following" fill="clear" color="dark">
        <ion-label class="padding-numbers">{{user.user_followings}}</ion-label>
        <ion-label class="handle">Following</ion-label>
      </ion-button>
      <ion-button id="open-modal-followers" fill="clear" color="dark">
        <ion-label class="padding-numbers">{{ user.user_followers }}</ion-label>
        <ion-label class="handle">Followers</ion-label>
      </ion-button>
    </div>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="posts">
      <ion-label>Posts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="replies">
      <ion-label>Replies</ion-label>
    </ion-segment-button>
    <ion-segment-button value="likes">
      <ion-label>Likes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-content>
    <ion-modal trigger="open-modal-following">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-icon
                name="arrow-back-outline"
                (click)="cancelModalFollowing()"
                class="handle-back-button"
                size="small"
              ></ion-icon>
            </ion-buttons>
            <ion-title>Following</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-users *ngFor="let user of following" [user]="user"></app-users>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #followersModal trigger="open-modal-followers">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-icon
                name="arrow-back-outline"
                (click)="cancelModalFollowers()"
                class="handle-back-button"
                size="small"
              ></ion-icon>
            </ion-buttons>
            <ion-title>Followers</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-users *ngFor="let user of followers" [user]="user"></app-users>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #editProfileModal trigger="open-edit-profile">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-icon
                name="arrow-back-outline"
                (click)="cancelEditProfile()"
                class="handle-back-button"
                size="small"
              ></ion-icon>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button
                shape="round"
                fill="solid"
                color="dark"
                class="btn-width"
                [strong]="true"
                (click)="saveEditData()"
                >Save</ion-button
              >
            </ion-buttons>
            <ion-title>Edit profile</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-card>
            <ion-card-content>
              <form [formGroup]="editProfileForm">
                <ion-item>
                  <ion-input
                    formControlName="firstName"
                    value="first name"
                    label="Fist name"
                    labelPlacement="floating"
                    [clearInput]="true"
                  ></ion-input>
                </ion-item>
                &nbsp;
                <ion-item>
                  <ion-input
                    formControlName="lastName"
                    label="Last name"
                    labelPlacement="floating"
                    [clearInput]="true"
                  ></ion-input>
                </ion-item>
                &nbsp;
                <ion-item>
                  <ion-textarea
                    formControlName="bio"
                    label="Edit bio"
                    labelPlacement="floating"
                    placeholder="Add a bio"
                    [counter]="true"
                    maxlength="70"
                  ></ion-textarea>
                </ion-item>
                &nbsp;
                <ion-item>
                  <ion-input
                    #passwordInput
                    formControlName="password"
                    type="password"
                    label="Password"
                    labelPlacement="floating"
                  >
                  </ion-input>
                  <ion-icon
                    [name]="eyeIcon"
                    slot="end"
                    (click)="togglePasswordVisibility()"
                  ></ion-icon>
                </ion-item>
                &nbsp;
                <ion-item>
                  <ion-input
                    #repeatPasswordInput
                    formControlName="repeatPassword"
                    type="password"
                    label="Repeat password"
                    labelPlacement="floating"
                    errorText="Passwords do not match"
                  ></ion-input>
                  <ion-icon
                    [name]="eyeIconRepeat"
                    slot="end"
                    (click)="toggleRepeatPasswordVisibility()"
                  ></ion-icon>
                </ion-item>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>

    <div [hidden]="segment != 'posts'">
      <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
    </div>

    <div [hidden]="segment != 'replies'">
      <app-tweet *ngFor="let tweet of replies" [tweet]="tweet"></app-tweet>
    </div>

    <div [hidden]="segment != 'likes'">
      <app-tweet *ngFor="let tweet of likes" [tweet]="tweet"></app-tweet>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openNewTweet()">
        <ion-fab-content>
          <ion-icon name="add-outline" size="large"> </ion-icon>
        </ion-fab-content>
      </ion-fab-button>
    </ion-fab>

    <!-- Este componente se mostrará unicamente cuando shoNewTweet cambie a true -->
    <app-new-tweet *ngIf="showNewTweet"></app-new-tweet>
  </ion-content>
</div>
</ion-content>
