.profile-label {
     display: flex;
     flex-direction: column;
     /* margin-left: 5px; */
     /* margin-top: 10px; */
     margin-top: 50px;
     margin-bottom: 10px;
}

.profile-bio {
     display: flex;
     flex-direction: column;
}

.profile-statistics {
     /* padding-left: 5px; */
     margin-top: 10px;
     /* padding-bottom: 10px; */
}

.handle {
     /* padding-left: 4px; */
     color: var(--ion-color-medium);
}

.handle-title {
     font-size: x-large;
     font-weight: bold;
}

.handle-back-button {
     margin-left: 15px;
}

.padding-numbers {
     padding-right: 3px;
}

.btn-width{
     width: 80px;
}

   
/* .profile-label:first-of-type {
     margin-left: 5px;
     margin-top: 10px;
     margin-bottom: 10px;
} */