<ion-row class="wrapper">
  <ion-col size="2">
    <ion-buttons>
      <ion-button (click)="openModalProfile()">
        <ion-avatar class="custom-avatar">
          <ion-img 
            [src]="'https://firebasestorage.googleapis.com/v0/b/mobile-apps-d0b43.appspot.com/o/twitter-posts%2Fprofile.jpg?alt=media&token=336149f6-3a78-4d60-a2f6-7b26d8a12a55'"
          >
          </ion-img>
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-col>
  <ion-col size="10" class="padding-col">
    <ion-row class="tweet-info">
      <ion-col size="12">
        <ion-row>
          <span class="name">{{ user.first_name }} {{ user.last_name }}</span>
        </ion-row>
        <ion-row>
          <span class="handle">@{{ user.alias }}</span>
        </ion-row>
      </ion-col>

      <ion-col size="12">
        <span class="custom-text">{{ user.biography }}</span>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>

