.tweet-info {
     font-size: 0.9em;
}

.name {
     font-weight: bold;
     font-size: large;
}

.handle {
     padding-left: 4px;
     color: var(--ion-color-medium);
}

.wrapper {
     border-bottom: 1px solid var(--ion-color-light);
}

.flex {
     display: flex;
     justify-content: space-between;
}

.follow {
     margin-left: auto;
}

.custom-avatar {
     width: 55px;
     height: 55px;
}

.custom-text {
     margin-bottom: 5px;
     /* Ajusta el valor según el espacio deseado entre líneas */
     line-height: 1.6;
     /* Ajusta el valor según el espacio deseado entre líneas */
}