<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>homeEEEE</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-icon name="logo-twitter" color="primary" size="large"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="pulse-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment value="home" mode="md" #segmentcontrol>
  <ion-segment-button value="home">
    <ion-label>For you</ion-label>
  </ion-segment-button>
  <ion-segment-button value="content">
    <ion-label>Following</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HHHhome</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
