<ion-loading #loading spinner="crescent" class="custom-loading"></ion-loading>

<ion-header #header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-icon name="logo-twitter" color="primary" size="large"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="segment">
  <ion-segment-button value="home">
    <ion-label>For you</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>
    <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="createTweet">
      <ion-icon name="add-outline" size="large"> </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Este componente se mostrará unicamente cuando shoNewTweet cambie a true -->
  <app-new-tweet [modalTrigger]="'createTweet'"></app-new-tweet>

  <ion-infinite-scroll (ionInfinite)="handleScroll($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
