<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="homePrincipal">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-badge color="primary">5</ion-badge>
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="dm">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
